Source: haskell-hslua-module-system
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Ilias Tsitsimpis <iliastsi@debian.org>
Priority: optional
Section: haskell
Rules-Requires-Root: no
Build-Depends: debhelper (>= 10),
 haskell-devscripts (>= 0.13),
 cdbs,
 ghc,
 ghc-prof,
 libghc-exceptions-dev (>= 0.8),
 libghc-exceptions-dev (<< 0.11),
 libghc-exceptions-prof,
 libghc-hslua-core-dev (>= 2.1),
 libghc-hslua-core-dev (<< 2.3),
 libghc-hslua-core-prof,
 libghc-hslua-marshalling-dev (>= 2.0),
 libghc-hslua-marshalling-dev (<< 2.3),
 libghc-hslua-marshalling-prof,
 libghc-hslua-packaging-dev (>= 2.1),
 libghc-hslua-packaging-dev (<< 2.3),
 libghc-hslua-packaging-prof,
 libghc-temporary-dev (>= 1.2),
 libghc-temporary-dev (<< 1.4),
 libghc-temporary-prof,
 libghc-tasty-dev (>= 0.11),
 libghc-tasty-prof,
 libghc-tasty-hunit-dev (>= 0.9),
 libghc-tasty-hunit-prof,
 libghc-tasty-lua-dev (>= 1.0),
 libghc-tasty-lua-dev (<< 1.1),
 libghc-tasty-lua-prof,
Build-Depends-Indep: ghc-doc,
 libghc-exceptions-doc,
 libghc-hslua-core-doc,
 libghc-hslua-marshalling-doc,
 libghc-hslua-packaging-doc,
 libghc-temporary-doc,
Standards-Version: 4.6.1
Homepage: https://github.com/hslua/hslua
Vcs-Browser: https://salsa.debian.org/haskell-team/DHG_packages/tree/master/p/haskell-hslua-module-system
Vcs-Git: https://salsa.debian.org/haskell-team/DHG_packages.git [p/haskell-hslua-module-system]
X-Description: Lua module wrapper around Haskell's System module
 Provides access to system information and functionality
 to Lua scripts via Haskell's `System` module.
 .
 Intended usage for this package is to preload it by adding
 the loader function to `package.preload`. Note that the
 Lua `package` library must have already been loaded before
 the loader can be added.

Package: libghc-hslua-module-system-dev
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Conflicts: ${haskell:Conflicts},
Provides: ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-hslua-module-system-prof
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Conflicts: ${haskell:Conflicts},
Provides: ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-hslua-module-system-doc
Architecture: all
Section: doc
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Conflicts: ${haskell:Conflicts},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}
